# Pythopn virtual envionrment
backend/venv/*

#python cache
backend/__pycache__/*
backend/routers/__pycache__/*
backend/routes/__pycache__/*
backend/models/__pycache__/*

# Media
backend/media/*

#Backend env
backend/.env

#vscode config
.vscode/*

# Ignore all .pyc file
*.pyc
